*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

header{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    background: black;
    justify-content: flex-end;
}

header a{
    background-color: darkslategray;
    padding: 0.5rem;
    border-radius: 5px;
}

main{
    background-color: black;
    padding: 2rem;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    overflow: auto;
}

.user{
    background-image: url(https://picsum.photos/200/300);
    width: 130px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.user-name{
    padding: 0.5rem;
    background-color: rgb(0, 0, 0, 0.5);
}

footer{
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icon-container{
    display: flex;
}

.icon-container a{
    padding: 1rem;
}

.menu-icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon{
    font-size: 1.5rem;
}

.focused-icon{
    color: #3EA90A;
}

.end{
    background-color: darkslategray;
    color: red;
    padding: 1rem;
    display: flex;
    align-items: center;
}

a:hover{
    background-color: grey;
}

.icon-container a:hover{
    background-color: darkslategray;
    border-radius: 5px;
}